.hero {
  min-height: 800px;
  height: 100vh;
  max-height: 1400px;
  color: var(--light-color);
  background-color: var(--dark-color);

  &__container {
    display: flex;
    gap: 28px;
    padding-top: 16vh;
  }

  &__info {
    max-width: 530px;
    padding-top: 15vh;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
  }

  &__descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &__img {
    transform: translateX(10%);
  }

}
