<section class="choose">
  <div class="container">
    <h2 class="choose__title section-title">Выберите нужный пакет</h2>
    <ul class="choose__list list-reset grid">
      <li class="choose__item">
        <h3 class="choose__item-head">PRO</h3>
        <span class="choose__item-price">20.000 ₽</span>
        <p class="choose__item-descr">УМК по робототетхнике и программированию</p>
        <button class="choose__item-btn btn-reset btn--red">Оставить заявку</button>
      </li>

      <li class="choose__item">
        <h3 class="choose__item-head">ROBO</h3>
        <span class="choose__item-price">15.000 ₽</span>
        <p class="choose__item-descr">УМК по робототетхнике </p>
        <button class="choose__item-btn btn-reset btn--red">Оставить заявку</button>
      </li>


      <li class="choose__item">
        <h3 class="choose__item-head">PROG</h3>
        <span class="choose__item-price">10.000 ₽</span>
        <p class="choose__item-descr">УМК по программированию</p>
        <button class="choose__item-btn btn-reset btn--red">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
