<section class="get">
  <div class="container">
    <h2 class="get__title section-title">
      Что вы получите после курса
    </h2>

    <ul class="get__list list-reset grid">
      <li class="get__item">
        <h3 class="get__item-head">Удостоверение</h3>
        <p class="get__item-descr">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях</p>
      </li>

      <li class="get__item">
        <h3 class="get__item-head">Знания</h3>
        <p class="get__item-descr">По основам разработки учебно-методических комплексов
          по робототехнике и программированию</p>
      </li>

      <li class="get__item">
        <h3 class="get__item-head">Практику</h3>
        <p class="get__item-descr">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)</p>
      </li>
    </ul>
  </div>
</section>
