<header class="header">
  <div class="big-container header__container">
    <a class="header__logo logo" href="#">ROBO.SCHOOL</a>

    <nav class="nav" title="header nav">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">О школе</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Тренеры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Стоимость</a></li>
      </ul>
    </nav>

    <a class="header__phone phone" href="tel:78000001122">+7 800 000 11 22</a>
  </div>
</header>
