<section class="hero">
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">ROBO SCHOOL</h1>
      <p class="hero__descr">Курсы повышения квалификации по робототехнике для педагогов начальной школы</p>
      <button class="hero__btn btn--red">Записаться на курс</button>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="img/hero-img.webp" type="image/webp">
        <img class="hero__img"  loading="lazy" src="img/hero-img.png" width="783px" height="917px" alt="a girl with notes">
      </picture>
    </div>
  </div>
</section>
