<section class="trainers">
  <div class="container">
    <div class="trainers__items swiper">
      <div class="trainers-list trainers__list swiper-wrapper">
        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-irina.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-irina.jpg" width="360px" height="500px" alt="trainer irina">
              <h3 class="trainers-list__name">Ирина Лайм</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>

        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-marina.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-marina.jpg" width="360px" height="500px" alt="trainer marina">
              <h3 class="trainers-list__name">Марина Орлова</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-maxim.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-maksim.jpg" width="360px" height="500px" alt="trainer maxim">
              <h3 class="trainers-list__name">Максим Петров</h3>
              <span class="trainers-list__post">преподаватель по программированию</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-kostya.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-kostya.jpg" width="360px" height="500px" alt="trainer kostya">
              <h3 class="trainers-list__name">Константин Назаров</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-liza.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-liza.jpg" width="360px" height="500px" alt="trainer liza">
              <h3 class="trainers-list__name">Лиза Весенняя</h3>
              <span class="trainers-list__post">преподаватель по программированию</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>


      </div>
      <!-- <div class="trainers-list trainers__list swiper-wrapper">
        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-irina.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-irina.jpg" width="360px" height="500px" alt="trainer irina">
              <h3 class="trainers-list__name">Ирина Лайм</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        </div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-marina.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-marina.jpg" width="360px" height="500px" alt="trainer marina">
              <h3 class="trainers-list__name">Марина Орлова</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        <div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-maxim.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-maksim.jpg" width="360px" height="500px" alt="trainer maxim">
              <h3 class="trainers-list__name">Максим Петров</h3>
              <span class="trainers-list__post">преподаватель по программированию</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        <div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-kostya.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-kostya.jpg" width="360px" height="500px" alt="trainer kostya">
              <h3 class="trainers-list__name">Константин Назаров</h3>
              <span class="trainers-list__post">преподаватель по робототехнике</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        <div>


        <div class="trainers-list__item swiper-slide">
          <article class="trainers-list__card">
            <picture>
              <source srcset="img/trainers-liza.webp" type="image/webp">
              <img class="trainers-list__img" loading="lazy" src="img/trainers-liza.jpg" width="360px" height="500px" alt="trainer liza">
              <h3 class="trainers-list__name">Лиза Весенняя</h3>
              <span class="trainers-list__post">преподаватель по программированию</span>
              <button class="trainers-list__btn btn-reset">Подробнее</button>
            </picture>
          </article>
        <div>

      </div> -->
    </div>

  </div>
</section>
